<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uni.fvv.packageManager" >

    <application>
        <receiver android:name=".ReplaceAddRemoveBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
